@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
 --primary-col: #343551;
 --secondary-col:#7C2AB5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto',sans-serif;
}
img{
  height:40rem;
  transition: 0.2s ease-in-out all;
}

img:hover{
  cursor: pointer;
  /* transform: scale(1.25); */
}

.work{
  margin-top: 15rem;
}

h3{
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
   margin-bottom: 2rem;
}

.moodboards ul{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  background-color: var(--primary-col);
}

.moodboards ul li img {
  height:20rem;
  margin: 0 -4rem 0 -4rem;
  transition: 0.2s ease-in-out all;
}

.screens ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.screens ul li img{
  height:20rem;
  transition: 0.2s ease-in-out all;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ui-kit ul{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  background-color: var(--primary-col);
}
.ui-kit ul li img{
  height: 20rem;
  transition: 0.2s ease-in-out all;
}
.wireframes div, .system-map div{
  background-color: var(--primary-col);
}
.wireframes div img, .system-map div img{
  margin-left: 8rem;
}

.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 10px 10px 34px -1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 10px 10px 34px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 34px -1px rgba(0,0,0,0.4);
  background: var(--primary-col);
}

.slide-img{
  height: 35rem;
}

.slides-left{
  display: none;
}

.slide-btns{
  position: absolute;
  bottom:1rem;
  left: 45.5%;
  background: var(--primary-col);
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-btns a:hover{
  cursor: pointer;
  color: var(--secondary-col);
}

.prev{
  position: relative;
  right: 2rem;
}
.next{
  position: relative;
  left: 2rem;
}
.numbertext{
  text-align: center;
  font-family: 'Roboto';
}
.work{
  margin-top: 0;
  padding-top: 0;
}

@media only screen and (max-width: 768px) {

.ui-kit ul {
  display: block; 
  margin-left: auto;
  margin-right: auto;  
}

.ui-kit ul li img{
  width: 100%;
}

.moodboards ul {
  display: block;
}
.moodboards ul li img{
  margin-left: auto;
  margin-right: auto;  
  width: 100%;
}

.wireframes{
  display: none;
}

.wireframes div{
  display: block;
  margin-left: auto;
 
}
.system-map div{
  display: block; 
  margin-left: auto;
  margin-right: auto;  
}

.system-map div img{
  width: 70%;
  height: 70%;
  margin: 2rem;
}

.wireframes img{  
  width: 50%;
  height: 50%;
}

.ui-kit  img{
  margin-left: auto;
  margin-right: auto;  
  width: 50%;
}

.interactive{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.interactive img{
  width: 30%;
  height: 30%;
}

}


